/*--------------------------------------------------------------
## Page banniere pour les pages ordinaires
--------------------------------------------------------------*/
.page-banniere {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: var(--hauteur-banniere);
	justify-content: center;
	overflow: hidden;
	margin: 0 auto;
	padding: var(--padding-y-1) 2rem;
	position: relative;
	max-width: var(--largeur-max);
	width: 100%;

	img {
		height: 100%;
		left: 0;
		object-fit: cover;
		object-position: center center;
		position: absolute;
		top: 0;
		width: 100%;

		&.desktop {
			display: none;
		}
	}

	.overlay {
		background-color: rgba(77, 51, 16, 0.4);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.entry-title,
	.sous-titre,
	.sur-titre {
		color: var(--blanc);
		margin: 0;
		position: relative;
	}

	.entry-title {
		@include font-headline-xxl;
		text-transform: uppercase;
	}

	.sous-titre {
		@include font-headline-xxs;
		margin-top: 1.2rem;
	}

	.sur-titre {
		@include font-headline-s;
		margin-bottom: 0.8rem;
		text-align: center;
		text-transform: uppercase;
	}

	@include bp(md) {
		img {
			&.mobile {
				display: none;
			}

			&.desktop {
				display: block;
			}
		}
	}

	@include bp(lg) {
		.entry-title {
			font-size: 6.4rem;
			font-weight: 900;
			line-height: 6.8rem;
		}

		.sous-titre {
			@include font-headline-s;
			margin-top: 1.6rem;
		}

		.sur-titre {
			@include font-headline-xl;
			margin-bottom: 1.2rem;
		}
	}
}

.entry-title {
	margin-top: 5.2rem;

	@include bp(lg) {
		margin-top: 7.2rem;
	}

	&.sans-banniere {
		margin-bottom: 5.2rem;

		@include bp(lg) {
			margin-bottom: 7.2rem;
		}
	}
}

/*--------------------------------------------------------------
## Page banniere pour les pages avec le modèle Page d'un type d'article
--------------------------------------------------------------*/

.page-banniere-type {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: var(--hauteur-banniere);
	justify-content: center;
	overflow: hidden;
	margin: 0 auto;
	padding: var(--padding-y-1) 2rem;
	position: relative;
	max-width: var(--largeur-max);
	width: 100%;


	.image {
		display: flex;
		height: 100%;
		left: 0;
		opacity: 0.4;
		justify-content: center;
		position: absolute;
		top: 0;
		width: 100%;

		img {
			height: 100%;
		}

	}

	.entry-title,
	.sous-titre {
		margin: 0;
		position: relative;
		text-align: center;
	}

	.entry-title {
		@include font-headline-xxl;
		text-transform: uppercase;
	}

	.sous-titre {
		@include font-headline-xxs;
		margin-top: 1.2rem;
	}


	@include bp(lg) {
		--wimg: 30%;
		align-items: flex-start;
		padding-left: var(--padding-x-lg);
		padding-right: calc(var(--padding-x-lg) + var(--wimg));
		text-align: left;

		.image {
			left: unset;
			opacity: 1;
			right: var(--padding-x-lg);
			width: var(--wimg);

			img {
				object-fit: contain;
			}
		}

		.entry-title {
			font-size: 6.4rem;
			font-weight: 900;
			line-height: 6.8rem;
			padding: 0;
			text-align: left;
		}

		.sous-titre {
			@include font-headline-s;
			margin-top: 1.6rem;
		}
	}

	@include bp(xl) {
		--wimg: 47rem;
	}
}


/*--------------------------------------------------------------
## Page banniere pour les articles
--------------------------------------------------------------*/
.page-banniere-single {
	align-items: flex-end;
	display: flex;
	height: var(--hauteur-banniere);
	justify-content: center;
	overflow: visible;
	margin: 0 auto;
	padding: 0 2rem;
	position: relative;
	max-width: var(--largeur-max);
	width: 100%;
	z-index: 1;


	img {
		height: 100%;
		left: 0;
		object-fit: cover;
		object-position: center center;
		position: absolute;
		top: 0;
		width: 100%;

		&.desktop {
			display: none;
		}
	}

	.overlay {
		background-color: rgba(77, 51, 16, 0.4);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.encart {
		align-items: center;
		background-color: var(--blanc);
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: var(--height-encart);
		padding: 3rem;
		position: relative;
		text-align: center;
		top: calc(0.5*var(--height-encart));
		width: 100%;
	}

	.tags {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
	}

	.tag {
		border: solid 1px var(--gris-300);
		border-radius: 300px;
		font-size: 1rem;
		font-weight: 700;
		line-height: 1rem;
		margin-bottom: 0.8rem;
		margin-right: 0.8rem;
		padding: 0.4rem 0.8rem;
		&.univers {
			border:transparent;
			color:var(--blanc);
		}
		&:last-of-type {
			margin-bottom: 2rem;
		}
	}


	.single-title {
		@include font-headline-s;
		color: var(--texte);
		margin-bottom: 2rem;
		text-transform: uppercase;
	}

	.dates p {
		@include font-body-s;
		margin-bottom: 0;

		strong {
			font-weight: 700;
		}

		&:nth-of-type(2){
			margin-top: 4px;
		}
	}


	@include bp(md) {
		padding: 0 var(--padding-x);
	}

	@include bp(lg) {
		.encart {
			margin-left: auto;
			margin-right: auto;
			max-width: 93rem;
			padding:6rem;
		}
		.tag:last-of-type {
			margin-bottom: 2.4rem;
		}
		.single-title {
			@include font-headline-xl;
			margin-bottom: 2.4rem;
		}

		.dates {
			align-items: center;
			display: flex;
			justify-content: center;
			p {
				@include font-body-m;
				&:nth-of-type(2) {
					border-left:solid 1px var(--gris-400);
					margin-top: 0;
					margin-left: 2rem;
					padding-left: 2rem;
				}
			}
		}
		
	}
}

.entry-title {
	margin-top: 5.2rem;

	@include bp(lg) {
		margin-top: 7.2rem;
	}

	&.sans-banniere {
		margin-bottom: 5.2rem;

		@include bp(lg) {
			margin-bottom: 7.2rem;
		}
	}
}