.pagination-wrap {
	@include font-body-m;
	align-items: center;
	border-top: solid 1px var(--gris-600);
	display: flex;
	justify-content: space-between;
	list-style:none;
	padding:2rem 0 6rem;
	margin:0 var(--padding-x-lg);

	.count {
		align-items: center;
		color:#5E6574;
		display: flex;
		strong {
			color:var(--texte);
			margin-right: 0.6ch;
		}
	}

	.pagination-list {
		align-items: center;
		color:var(--gris-600);
		display: flex;
		justify-content: center;
	}
	.pagination {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	a.page, a.nav {
		--c:2.4rem;
		align-items: center;
		background-color: transparent;
		border-radius: 4px;
		color:var(--gris-600);
		display: flex;
		font-weight: normal;
		height:var(--c);
		justify-content: center;
		margin:0 0.4rem;
		text-decoration: none;
		width:var(--c);
		&:hover, &:focus {
			background-color: var(--bleu-fonce);
			color:var(--blanc);
			svg path {
				fill:var(--blanc);
			}
		}
		
	}

	li.active a {
		background-color: var(--bleu-fonce);
		color:var(--blanc);
		font-weight: 700;
	}

	li.disabled a.page, a.nav.disabled {
		cursor: default;
		&:hover, &:focus {
			background-color: transparent;
			border-color:transparent;
			color:var(--gris-600);
			text-decoration: none;
			svg path {
				fill:#757575;
			}
		}
	}

	@include bp(lg) {
		flex-direction: row-reverse;
		padding-bottom: 8rem;
	}

	
}
