.slider-wrap {
	--w:28rem;
	--d:0.8rem;

	overflow-x:hidden;
	.slider-drag {
		overflow-x: auto; //Pour permettre drag en mobile TODO TESTER
		position: relative;
	}
	.slider {
		display:flex;
		left:0;
		position: relative;
		transition:left var(--transition);
	}
	.vignette {
		flex:0 0 var(--w);
		margin-right: 2rem;
		max-width:var(--w);
	}

	@include bp(md) {
		--w:32rem;
	}

	@include bp(lg) {
		--w:36rem;
		.slider-drag {
			overflow-x: hidden;
		}
	}

	.nav-slider {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-top: 1.5rem;
	}
	button.fleche-slider {
		background-color: transparent;
		border:none;
		padding:0.5rem;
		svg path {
			fill:var(--texte);
		}
		&.gauche {
			padding-left: 0;
		}
		&.droite {
			padding-right: 0;
		}
		&:hover {
			svg path {
				fill:var(--bleu-tres-fonce);
			}
		}
		&:disabled {
			cursor: default;
			svg path {
				fill:var(--gris-300);
			}
		}
	}
	button.dot {
		border:solid 1px var(--texte);
		height:var(--d);
		margin:0 0.4rem;
		padding:0;
		width:var(--d);
		&:hover {
			border-color:var(--bleu-tres-fonce);
		}
		&:focus, &.active {
			background-color: var(--texte);
		}
	}
}