//Vignette article pour pages archives (y compris recherche)
.vignette {
	border:solid 1px var(--gris-400);
	border-radius:8px;
	margin:0 auto; // par défaut. Les marges et les gaps sont ajoutés dans loop ou dans le bloc
	max-width:36rem;
	overflow:hidden;
	position:relative;
	text-decoration: none;
	
	a {
		display: flex;
		flex-direction: column;
		&.lien {
			display: flex;
			flex-direction: column;
			height:100%;
		}
	
		&, &:hover, &:focus {
			color:var(--texte);
			text-decoration: none;
		}
	}


	.vignette-image {
		height:20rem;
		img {
			height:100%;
			object-fit: cover;
			width:100%;
		}
		&.logo {
			//fallback post sans thumbnail
			img {
				margin:auto;
				object-fit: contain;
				width:90%;
			}
		}
	}

	.texte {
		background-color: var(--blanc);
		flex-grow:1;
		padding: 2rem;
	}

	.tag {
		@include font-caption-l;
		padding:0.4rem 0.8rem;
	}

	.univers {
		border-radius: 0;
		border-bottom-right-radius: 8px;
		color:var(--blanc);
		left:0;
		position: absolute;
		top:0;
	}

	.type {
		border:solid 1px var(--gris-300);
		border-radius: 300px;
	}

	.titre {
		@include font-headline-xxs;
		margin-bottom: 1.2rem;
		margin-top: 8px;
		text-transform: unset;
	}

	.temps {
		@include font-body-s;
		align-items: center;
		display: flex;
		margin-bottom: 2px;
		.picto {
			margin-right: 6px;
			width:2rem;
		}
		strong {
			margin-right: 0.5ch;
		}
	}

}