@import "./././sass/abstracts/variables-et-mixins";

.acf-univers {
	--pt:6rem;
	@include bleed;
	background-color: var(--beige-clair);
	padding:var(--pt) 0;

	.titre-section {
		margin-bottom: 1.2rem;
		padding:0 var(--padding-x-lg);
		text-align: center;
	}

	.sous-titre {
		@include font-body-m;
		padding:0 var(--padding-x-lg);
		margin-bottom: 4rem;
		padding:0 var(--padding-x-lg);
		text-align: center;
	}

	//Style des blocs par catégories et de leur navigation dans un composant SASS section-cat (réutilisés dans l'archive de la catégorie parente)

	//On ne garde ici que les styles des tags et du titre de la catégorie

	.section-cat .titre-cat {
		@include font-headline-xs;
	}

	.label-types {
		margin-bottom: 0.8rem;
	}

	a.type {
		@include font-body-m;
		background-color: var(--blanc);
		border:solid 1px var(--gris-400);
		border-radius: 100px;
		display: inline-block;
		margin-right: 0.8rem;
		margin-bottom: 0.8rem;
		padding:2px 12px;
		text-decoration: none;
		&:last-of-type {
			margin-right: 0;
		}
	}



	//Styles du slider dans un composant SASS (réutilisés dans d'autres blocs)
	//Ici on ajoute juste quelques ajustements spécifiques au bloc ACF
	.slider-wrap {
		margin-bottom: 2rem;
		margin-left: var(--padding-x-lg);
		overflow-x: hidden;
	}
	.nav-slider {
		padding-right: var(--padding-x-lg);
	}

	@include bp(lg) {
		--pt:8rem;
		padding-bottom: 4.8rem;

		.titre-section {
			margin-bottom: 1.2rem;
		}

		.section-cat .titre-cat {
			@include font-headline-s;

		}

		

		.nav-types {
			align-items: center;
			display: flex;
			grid-column: 1;
			grid-row: 2;
			margin-top: 1.6rem;
		}

		.label-types {
			margin-bottom: 0;
			margin-right: 1.6rem;
		}

		a.type {
			margin-bottom: 0;
		}

		

	}
}