@import "./././sass/abstracts/variables-et-mixins";

.carrousel-livres {
	--p:40px; //padding latéral de la section
	--l:45px; //décalage de la flèche de droite
	--l2: calc(-1 * var(--l)); // décalage de la flèche de gauche

	@include bleed;
	background-color: var(--gris-fond);
	padding:4.4rem var(--p) 6.6rem;
	h2 {
		@include titre-accueil;
	}

	img {
		height:370px;
		margin-bottom: 19px;
		object-fit: cover;
		object-position: center;
		width:258px;
	}

	.texte {
		color:var(--marron);
		display: block;
		font-size: 2.4rem;
		font-weight: 700;
		text-align: center;
	}
	a.texte {
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	.owl-carousel {
		position: relative;
	}

	.owl-nav {
		display: flex;
		height:55px;
		justify-content: space-between;
		left:0;
		position:absolute;
		top:163px;
		width:100%;

		button {
			
			margin:0;
			min-width:unset;
			width:55px;
			&.owl-prev, &.owl-next {
				background-color: transparent;
				background-image: url('angle.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 15px;
				left: var(--l);
				position: relative;
			}
			&.owl-prev {
				left:var(--l2);
				transform-origin: center;
				transform:rotate(180deg);
			}
			&:hover, &:focus {
				color:var(--rouge);
			}
		}
	}

	@include bp(md) {
		--p:var(--padding-x);

	}

	@include bp(lg) {
		--l:55px;
		padding-bottom: 8rem;
	}

	@include bp(xl) {
		--l:80px;
	}
	
}