
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.bouton,
a.wp-block-button__link {

	@include bouton;

	background-color: transparent;
	&, &:visited {
		color:var(--texte);
		text-decoration: none;
	}

	&:hover, &:focus, &:active {
		background-color: var(--bleu-tres-fonce);
		border-color:var(--bleu-tres-fonce);
		color:var(--blanc);
		text-decoration: none;
	}

	&:focus-visible {
		outline : dashed 2px var(--bleu-tres-fonce);
		outline-offset: 2px;
	}

	&.bleu {
		background-color: var(--bleu-fonce);
		border-color:var(--bleu-fonce);
		color:var(--blanc);
		&:hover, &:focus, &:active {
			background-color: var(--bleu-tres-fonce);
			border-color:var(--bleu-tres-fonce);
			
		}
	}

}


input[type="submit"] {
	-webkit-appearance: none;
}