/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
:root {
	--transition: 0.45s ease-in-out;
}

a,
a:visited {
	color: var(--texte);
	font-weight: 700;
	text-decoration: underline;
	transition: all var(--transition);
}

a:hover,
a:active,
a:focus {
	color: var(--bleu-tres-fonce); //TODO vérifier
	text-decoration: underline;
}



a:hover,
a:focus,
a:active {
	outline: 0;
}

a:focus-visible {
	outline: medium dotted;
}


/*--------------------------------------------------------------
## Ancres
--------------------------------------------------------------*/
.avec-ancre {
	position: relative;

	.ancre {
		left: 0;
		position: absolute;
		top: calc(-1px * var(--header-bottom));
	}
}

/*--------------------------------------------------------------
## Fil d'ariane
--------------------------------------------------------------*/
p.fil-ariane {
	@include font-caption-m;

	align-items: center;
	color: var(--gris-600);
	display: flex;
	height: 6rem;
	margin-bottom: 0;

	//couper avec ... si trop long
	.current {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}



	a {
		border-bottom: solid 1px var(--gris-600);
		color: var(--gris-600);
		font-weight: 400;
		padding-bottom: 2px;
		text-decoration: none;

		&:hover,
		&:focus {
			color: var(--texte);
			text-decoration: none;
		}
	}

	.sep {
		display: inline-block;
		margin: 0 0.5ch;
	}

	.prev {
		border-bottom: 0;
		margin-right: 3.5rem;
	}

	&.desktop {
		display: none;
	}

	@include bp(lg) {
		&.mobile {
			display: none;
		}

		&.desktop {
			align-items: flex-start;
			display: flex;
			height: unset;
			padding-top: 2.4rem;
			padding-bottom: 2.4rem;

		}
	}

}




/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/*Logique pour afficher/masquer éléments du menu mobile et sous-menus*/

.nav-main {
	display: none; // tous les menus sont cachés en mobile

	.menu {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

//Activé en JS
#overlay-mobile {
	background-color: rgba(0, 0, 0, 0.5);
	height:100vh;
	left:-100vw;
	opacity: 0;
	position: fixed;
	top:0;
	transition: opacity var(--transition);
	width:100vw;
	z-index:2; //Pour passer devant le bandeau défilant
	&.actif {
		left:0;
		opacity: 1;
	}

}

button.menu-toggle {
	display: block;
	height: 3rem;
	padding: 0;
	width: 3rem;

	svg {
		height: 1.2rem;
		width: 1.8rem;
	}

	&:focus {
		outline: none;
	}
}

#menu-close {
	height: unset;
	padding: 0.8rem;
	position: absolute;
	width: width;
	right: 2rem;
	top: 2rem;

	svg {
		height: 1.6rem;
		width: 1.6rem;
	}
}

.volet-navigation {
	display: flex;
	flex-direction: column;
	height: 100%;
	left: -100%;
	max-width: 80vw;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 6.4rem 0 2rem; //pour placer la croix pour fermer
	position: fixed;
	top: 0;
	transition: left var(--transition);
	width: 31.5rem;
	z-index: 25; //au-dessus du header sticky et du sommaire
}

.volet-navigation.toggled {
	left: 0;
}

.admin-bar .volet-navigation {
	height: calc(100% - 46px);
	top: 46px;
}

@include bp(lg) {
	button.menu-toggle {
		display: none;
	}

	.nav-main {
		display: flex;
	}
}


/* Style pictos menu mobile */

.menu-toggle {
	background: transparent;
	border: 0;
	margin: 0;
	min-width: unset;
	padding: 0 1rem;

	&:hover,
	&:focus,
	&:active {
		background: transparent;
	}

	svg path {
		fill: var(--gris-800);
	}

}

/* Style liens de menu VOLET NAVIGATION MOBILE */
//TODO styles sous-menus
.volet-navigation {
	background-color: var(--blanc);

	/*Logique affichage sous-menu*/
	.sub-menu {
		display: none;
		//animation JS pour ouvrir/refermer
	}

	.picto-angle {
		background-color: transparent;
		display: inline-block;
		transition: transform var(--transition);
	}

	button.js-ouvert .picto-angle {
		transform-origin: center;
		transform: rotate(90deg);
	}

	.menu-mobile {
		border-top: 1px solid var(--gris-300);
		display: flex;
		flex-direction: column;
	}

	/*Styles éléments de niveau 1*/
	.menu-mobile>a {
		align-items: center;
		display: flex;
		justify-content: space-between;
		min-height: 4.4rem;
		order: 3;
		padding: 0 2rem;
		text-decoration: none;
		text-transform: uppercase;

		&:hover,
		&:focus {
			color: unset;
		}

		//Styles spéciaux et modif ordre pour certains liens
		&.promo {
			background-color: var(--bleu-tres-clair);
			border-left: 0.4rem solid var(--rouge);
			color: var(--rouge);
			order: 1;
			padding-left: 1.6rem;
		}

		&.event {
			color: var(--bleu-fonce);
			order: 2;
		}

	}

	button.ouvrir-sous-menu {
		background-color: transparent;
		min-width: unset;
		margin-bottom: 0;
		padding: 0 1.2rem 0 0;
		position: relative;
		top: 2px;

		svg path {
			fill: var(--rouge-texte);
		}

		&:focus {
			outline: none;
		}
	}

	.sub-menu {
		background-color: #fff;
		flex-basis: 100%;
		flex-shrink: 0;
		padding-top: 0.5rem;
		padding-left: 2.8rem;

		li {
			margin-bottom: 0.8rem;

			a {
				color: var(--gris-1);
			}

			&.current-menu-item a {
				color: var(--sauge);
			}
		}
	}
}


/*Style liens de menus MENU PRINCIPAL */
.nav-main {
	align-items: stretch;
	background-color: var(--bleu-tres-clair);
	height: 100%;
	padding: 1.2rem 4.4rem 0;
	width: 100%;

	@include bp(lg) {
		display: flex;
	}

	a {
		text-decoration: none;
	}

	//styles spécifiques aux liens de premier niveau
	&>a {
		@include font-body-s;
		align-items: center;
		display: flex;
		margin-right: 3.2rem;
		position: relative;
		text-transform: uppercase;


		//https://css-tricks.com/bold-on-hover-without-the-layout-shift/
		.texte {
			align-items: center;
			display: inline-flex;
			flex-direction: column;
			justify-content: space-between;

			&:after {
				content: attr(data-text);
				content: attr(data-text) / "";
				height: 0;
				visibility: hidden;
				overflow: hidden;
				user-select: none;
				pointer-events: none;
				font-weight: 700; //pour que l'élément occupe déjà la bonne largeur avant hover

				@media speech {
					display: none;
				}
			}
		}

		&.promo {
			color: var(--rouge);
			font-weight: 700;
		}

		&.event {
			color: var(--bleu-fonce);
			font-weight: 700;

			&::after {
				background-color: currentColor;
			}
		}



		&:hover,
		&:focus {
			color: var(--texte);

			&.promo {
				color: var(--rouge);
			}

			&.event {
				color: var(--bleu-fonce);
			}

			.texte {
				font-weight: 700;
			}
		}
	}

	//Trait animé au survol
	.anim-trait {
		position: relative;

		&::after {
			position: absolute;
			bottom: 0px;
			left: 0px;
			content: "";
			width: 100%;
			height: 4px;
			background-color: var(--rouge);
			transition: transform 0.3s ease 0s;
			transform: scaleX(0);
			transform-origin: right center 0px;
		}

		&:hover,
		&:focus {
			&::after {
				transform: scaleX(1);
				transform-origin: left center 0px;
			}
		}
	}

	//Logique affichage sous-menu - TODO à refaire
	.sub-menu {
		float: left;
		margin-top: 0px;
		position: absolute;
		top: 90%;
		top: 100%;
		left: -999em;
		z-index: 10;
	}

	>li {
		//affichage du sous-menu
		position: relative;

		&:hover,
		&.focus,
		&:focus-within {

			//classe .focus ajoutée en JS
			.sub-menu {
				animation: animSousMenu 0.45s cubic-bezier(0.7, 0, 0.3, 1) both;
				display: flex;
				flex-direction: column;
				left: 0;
				opacity: 1;
				max-width: 50rem;
				min-width: 30rem;
				max-height: 80vh;
				overflow-y: auto;
			}
		}
	}

	//TODO à refaire Style sous-menu
	.sub-menu {
		background-color: #fff;
		box-shadow: 0 3px 3px rgba(18, 75, 90, 0.2);
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 0;
		}

		a {
			display: block;
			padding: 0.8rem 1.5rem 1.3rem;
			transition: all var(--transition);

			&:hover,
			&:focus {
				color: var(--blanc);
				background-color: var(--sauge);
			}
		}

		li.current-menu-item a {
			background-color: var(--sauge);
			color: var(--blanc);
		}
	}

}


/*--------------------------------------------------------------
## Mega menu produits
--------------------------------------------------------------*/
/*Bouton pour ouvrir*/
#ouvrir-produits-mobile {
	align-items: center;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: space-between;
	min-height: 4.4rem;
	order: 3;
	padding: 0 2rem;
	text-align: left;
}

#ouvrir-produits-desktop {
	align-items: center;
	background-color: transparent;
	border: none;
	display: flex;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.6rem;
	padding: 0;
	justify-content: space-between;
	margin-right: 3.2rem;
	text-align: left;

	.picto {
		flex-shrink:0;
		margin-left: 1rem;
		transition:transform var(--transition);
	}

	&[aria-expanded=true] {
		font-weight: 700;
		.picto {
			transform:rotateX(180deg);
		}
	}
}

.site-header {
	overflow: visible;
}
@include bp(lg) {
	#overlay-produits {
		display: none;
		height:100vh;
		left:0;
		position: fixed;
		top:0;
		width:100vw;
		z-index:2; //Pour passer devant le bandeau défilant
	}
}

.menu-produits {

	&.mobile {
		&, .niveau {
			height:100%;
			left:-100%;
			position:absolute;
			top:0;
			transition:left var(--transition);
			width:100%;

			&.actif {
				left:0;
			}
		}

		.niveau {
			background-color: #fff;
		}
		
	}

	&.desktop {
		display: none; //affiché en JS
		position: relative;
		width:100%;
	}

	.titre-menu {
		@include font-headline-s;
		font-weight: 700;
		margin-bottom: 2.8rem;
		text-transform: uppercase;
	}
	&.mobile .top-menu {
		align-items: center;
		border-bottom: solid 1px var(--gris-300);
		display: grid;
		grid-template-columns: 4.9rem 1fr 3rem;
		padding:2rem;
		.fermer-panneau {
			border-radius: 0;
			border-right:solid 1px var(--gris-300);
			width: 4.9rem;
			svg {
				transform:scale(1.5);
			}
		}
		.titre-menu {
			display: block;
			overflow: hidden;
			margin-bottom: 0;
			padding-left:2rem;
			text-overflow:ellipsis;
			text-transform: unset;
			white-space:nowrap;
		}
	}

	.niveau {
		display: flex;
		flex-direction: column;
		height:100%;
		width:100%;

		@include bp(lg) {
			min-height:45rem;
			padding:2.4rem 2rem;
		}
	}

	button.produit {
		align-items: center;
		background-color: transparent;
		border:none;
		display: flex;
		font-weight: 400;
		justify-content: space-between;
		padding:0;
		padding-bottom: 8px;
		text-align: left;
		text-transform: unset;
		width:100%;
		.texte {
			display: block;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}
		svg {
			margin-left: 1rem;
			path {
				fill:rgb(189, 189, 189);
			}
		}
		&.bold, &.actif, &:hover, &:focus {
			font-weight: 700;
			text-align: left;
			svg path {
				fill:var(--texte);
			}
		}
	}

	&.mobile button.produit {
		min-height:4.4rem;
		order:2; //pour que order:1 sur lien-extra fonctionne
		padding:0 2rem;
		svg path {
			fill:var(--texte);
		}
	}

	.lien-produit {
		@include font-body-m;
		font-weight: 400;
		padding-bottom: 8px;
		padding-right: 0.8rem;
		text-decoration: none;
		&:hover, &:focus {
			color:var(--texte);
			font-weight: 700;
		}
		.texte {
			display: block;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}
	}

	&.mobile .liste-produits {
		order:2;
		padding:0 2rem;
		.lien-produit {
			align-items: center;
			display: flex;
			min-height:4.4rem;
		}
	}


	.lien-extra {
		//Styles communs desktop et mobile
		align-items: center;
		color:rgb(93, 137, 162);
		display: flex;
		text-decoration: none;
		svg {
			margin-left: 1rem;
			path {
				fill:rgb(93, 137, 162);
			}
		}
	}

	&.mobile .lien-extra {
		background-color: var(--bleu-tres-clair);
		order:1;
		min-height:4.4rem;
		padding:0 2rem;
		justify-content: space-between;
	}

	&.desktop .lien-extra {
		@include font-body-s;
		margin-top: auto;
		&:hover, &:focus {
			.texte {
				text-decoration:underline; //TODO ligne animée
			}
		}
		&.rouge {
			color:var(--rouge);
			svg {
				path {
					fill:var(--rouge);
				}
			}
		}
	}

	&.desktop {
		background-color: #fff;
		border-radius: 8px;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px 2px, rgba(0, 0, 0, 0.03) 0px 2px 1px 0p;
		left:2.4rem;
		overflow: hidden;
		position: absolute;
		top:calc(100% - 0.4rem);
		width:calc(100% - 4.8rem);
		z-index: 3;

		.niveau-1 {
			background: rgb(238, 238, 238);
			width:25%;
		}
		.niveau-2 {
			background-color:rgb(245, 245, 245);
			left:25%;
			position:absolute;
			top:0;
			width:25%;
		}
		.niveau-3 {
			background-color: #fff;
			left:100%;
			position:absolute;
			top:0;
			width:200%;
		}

		.niveau-2, .niveau-3 {
			padding-top: 7.6rem;
			&.actif {
				z-index:1;
			}
		}

		.liste-produits {
			align-items: flex-start;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap ;
			justify-content: flex-start;
			.lien-produit {
				width:50%;
			}
		}
		
		#fermer-produits-desktop {
			background-color: transparent;
			border:none;
			height:4rem;
			padding:1.2rem;
			position: absolute;
			right:1.2rem;
			top:1.2rem;
			width:4rem;
			z-index: 2;
			svg path {
				fill:var(--texte);
			}
		}
	}
}

/*Animations*/
@keyframes animTrait {
	from {
		width: 0;
	}
}

@keyframes animSousMenu {
	from {
		opacity: 0.4;
		top: calc(90% + 10px);
	}
}