/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
:root {
	--transition: 0.45s ease-in-out;
}

a,
a:visited {
	color: var(--texte);
	font-weight: 700;
	text-decoration: underline;
	transition: all var(--transition);
}

a:hover,
a:active,
a:focus {
	color: var(--bleu-tres-fonce); //TODO vérifier
	text-decoration: underline;
}



a:hover,
a:focus,
a:active {
	outline: 0;
}

a:focus-visible {
	outline: medium dotted;
}


/*--------------------------------------------------------------
## Ancres
--------------------------------------------------------------*/
.avec-ancre {
	position: relative;

	.ancre {
		left: 0;
		position: absolute;
		top: calc(-1px * var(--header-bottom));
	}
}

/*--------------------------------------------------------------
## Fil d'ariane
--------------------------------------------------------------*/
p.fil-ariane {
	@include font-caption-m;

	align-items: center;
	color: var(--gris-600);
	display: flex;
	height: 6rem;
	margin-bottom: 0;

	//couper avec ... si trop long
	.current {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}



	a {
		border-bottom: solid 1px var(--gris-600);
		color: var(--gris-600);
		font-weight: 400;
		padding-bottom: 2px;
		text-decoration: none;

		&:hover,
		&:focus {
			color: var(--texte);
			text-decoration: none;
		}
	}

	.sep {
		display: inline-block;
		margin: 0 0.5ch;
	}

	.prev {
		border-bottom: 0;
		margin-right: 3.5rem;
	}

	&.desktop {
		display: none;
	}

	@include bp(lg) {
		&.mobile {
			display: none;
		}

		&.desktop {
			align-items: flex-start;
			display: flex;
			height: unset;
			padding-top: 2.4rem;
			padding-bottom: 2.4rem;

		}
	}

}




/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/*Logique pour afficher/masquer éléments du menu mobile et sous-menus*/

.nav-main {
	display: none; // tous les menus sont cachés en mobile

	.menu {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

button.menu-toggle {
	display: block;
	height: 3rem;
	padding: 0;
	width: 3rem;

	svg {
		height: 1.2rem;
		width: 1.8rem;
	}

	&:focus {
		outline: none;
	}
}

#menu-close {
	height: unset;
	padding: 0.8rem;
	position: absolute;
	width: width;
	right: 2rem;
	top: 2rem;

	svg {
		height: 1.6rem;
		width: 1.6rem;
	}
}

.volet-navigation {
	display: flex;
	flex-direction: column;
	height: 100%;
	left: -100%;
	max-width: 80vw;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 6.4rem 0 2rem; //pour placer la croix pour fermer
	position: fixed;
	top: 0;
	transition: left var(--transition);
	width: 31.5rem;
	z-index: 25; //au-dessus du header sticky et du sommaire
}

.volet-navigation.toggled {
	left: 0;
}

.admin-bar .volet-navigation {
	height: calc(100% - 46px);
	top: 46px;
}

@include bp(lg) {
	button.menu-toggle {
		display: none;
	}

	.nav-main {
		display: flex;
	}
}


/* Style pictos menu mobile */

.menu-toggle {
	background: transparent;
	border: 0;
	margin: 0;
	min-width: unset;
	padding: 0 1rem;

	&:hover,
	&:focus,
	&:active {
		background: transparent;
	}

	svg path {
		fill: var(--gris-800);
	}

}

/* Style liens de menu VOLET NAVIGATION MOBILE */
//TODO styles sous-menus
.volet-navigation {
	background-color: var(--blanc);

	/*Logique affichage sous-menu*/
	.sub-menu {
		display: none;
		//animation JS pour ouvrir/refermer
	}

	.picto-angle {
		background-color: transparent;
		display: inline-block;
		transition: transform var(--transition);
	}

	button.js-ouvert .picto-angle {
		transform-origin: center;
		transform: rotate(90deg);
	}

	.menu-mobile {
		border-top: 1px solid var(--gris-300);
		display: flex;
		flex-direction: column;
	}

	/*Styles éléments de niveau 1*/
	.menu-mobile>a {
		align-items: center;
		display: flex;
		justify-content: space-between;
		min-height: 4.4rem;
		order: 3;
		padding: 0 2rem;
		text-decoration: none;
		text-transform: uppercase;

		&:hover,
		&:focus {
			color: unset;
		}

		//Styles spéciaux et modif ordre pour certains liens
		&.promo {
			background-color: var(--bleu-tres-clair);
			border-left: 0.4rem solid var(--rouge);
			color: var(--rouge);
			order: 1;
			padding-left: 1.6rem;
		}

		&.event {
			color: var(--bleu-fonce);
			order: 2;
		}

	}

	button.ouvrir-sous-menu {
		background-color: transparent;
		min-width: unset;
		margin-bottom: 0;
		padding: 0 1.2rem 0 0;
		position: relative;
		top: 2px;

		svg path {
			fill: var(--rouge-texte);
		}

		&:focus {
			outline: none;
		}
	}

	.sub-menu {
		background-color: #fff;
		flex-basis: 100%;
		flex-shrink: 0;
		padding-top: 0.5rem;
		padding-left: 2.8rem;

		li {
			margin-bottom: 0.8rem;

			a {
				color: var(--gris-1);
			}

			&.current-menu-item a {
				color: var(--sauge);
			}
		}
	}
}


/*Style liens de menus MENU PRINCIPAL */
.nav-main {
	align-items: stretch;
	background-color: var(--bleu-tres-clair);
	height: 100%;
	padding: 1.2rem 4.4rem 0;
	width: 100%;

	@include bp(lg) {
		display: flex;
	}

	a {
		text-decoration: none;
	}

	//styles spécifiques aux liens de premier niveau
	&>a {
		@include font-body-s;
		align-items: center;
		display: flex;
		margin-right: 3.2rem;
		position: relative;
		text-transform: uppercase;


		//https://css-tricks.com/bold-on-hover-without-the-layout-shift/
		.texte {
			align-items: center;
			display: inline-flex;
			flex-direction: column;
			justify-content: space-between;

			&:after {
				content: attr(data-text);
				content: attr(data-text) / "";
				height: 0;
				visibility: hidden;
				overflow: hidden;
				user-select: none;
				pointer-events: none;
				font-weight: 700; //pour que l'élément occupe déjà la bonne largeur avant hover
	
				@media speech {
					display: none;
				}
			}
		}

		&.promo {
			color: var(--rouge);
			font-weight: 700;
		}

		&.event {
			color: var(--bleu-fonce);
			font-weight: 700;

			&::after {
				background-color: currentColor;
			}
		}

	

		&:hover,
		&:focus {
			color:var(--texte);
			&.promo {
				color:var(--rouge);
			}
			&.event {
				color:var(--bleu-fonce);
			}
			.texte {
				font-weight: 700;
			}
		}
	}

	//Trait animé au survol
	.anim-trait {
		position: relative;
		&::after {
			position: absolute;
			bottom: 0px;
			left: 0px;
			content: "";
			width: 100%;
			height: 4px;
			background-color: var(--rouge);
			transition: transform 0.3s ease 0s;
			transform: scaleX(0);
			transform-origin: right center 0px;
		}
		&:hover,
		&:focus {
			&::after {
				transform: scaleX(1);
				transform-origin: left center 0px;
			}
		}
	}

	//Logique affichage sous-menu - TODO à refaire
	.sub-menu {
		float: left;
		margin-top: 0px;
		position: absolute;
		top: 90%;
		top: 100%;
		left: -999em;
		z-index: 10;
	}

	>li {
		//affichage du sous-menu
		position: relative;

		&:hover,
		&.focus,
		&:focus-within {

			//classe .focus ajoutée en JS
			.sub-menu {
				animation: animSousMenu 0.45s cubic-bezier(0.7, 0, 0.3, 1) both;
				display: flex;
				flex-direction: column;
				left: 0;
				opacity: 1;
				max-width: 50rem;
				min-width: 30rem;
				max-height: 80vh;
				overflow-y: auto;
			}
		}
	}

	//TODO à refaire Style sous-menu
	.sub-menu {
		background-color: #fff;
		box-shadow: 0 3px 3px rgba(18, 75, 90, 0.2);
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 0;
		}

		a {
			display: block;
			padding: 0.8rem 1.5rem 1.3rem;
			transition: all var(--transition);

			&:hover,
			&:focus {
				color: var(--blanc);
				background-color: var(--sauge);
			}
		}

		li.current-menu-item a {
			background-color: var(--sauge);
			color: var(--blanc);
		}
	}

}


/*--------------------------------------------------------------
## Mega menu produits
--------------------------------------------------------------*/
/*Bouton pour ouvrir*/
#ouvrir-produits-mobile {
	align-items: center;
	background-color: transparent;
	border:none;
	display: flex;
	justify-content: space-between;
	min-height: 4.4rem;
	order:3;
	padding:0 2rem;
	text-align: left;
}
#ouvrir-produits-desktop {
	align-items: center;
	background-color: transparent;
	border:none;
	display: flex;
	font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  padding:0;
	justify-content: space-between;
	margin-right: 3.2rem;
	text-align: left;
	.picto {
		margin-left: 1rem;
	}
}

/*Animations*/
@keyframes animTrait {
	from {
		width: 0;
	}
}

@keyframes animSousMenu {
	from {
		opacity: 0.4;
		top: calc(90% + 10px);
	}
}