/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {

	.avantages {
		column-gap:1.2rem;
		display:grid;
		justify-content: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		padding:var(--padding-y-2) var(--padding-x);
		row-gap:4rem;

		li {
			align-items: center;
			display: flex;
			flex-direction: column;
			font-size: 1.2rem;
			line-height:1.6rem;
			text-align: center;
		}

		img {
			height:8rem;
			margin-bottom: 1.2rem;
			object-fit: contain;
			width:8rem;
		}

		@include bp(sm) {
			grid-template-columns: repeat(2, 21rem);

		}

		@include bp(lg) {
			column-gap: 3rem;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr;
		}
	}

	.social {
		background-color: var(--beige-clair);
		padding:var(--padding-y-2) var(--padding-x);
		text-align: center;
		.titre {
			@include font-headline-s;
			margin-bottom: 8px;
			text-transform: uppercase;
		}
		.sous-titre {
			margin-bottom: 1.6rem;
		}
		
	}

	.main-footer {
		background-color: var(--beige);
		padding:2rem var(--padding-x);

		& > div {
			padding:4rem 0;
			&:nth-of-type(2) {
				border-top:solid 1px var(--gris-500);
			}
		}

		--g:3rem;
		@include bp(lg) {
			padding:0 var(--padding-x);
			& > div {
				padding:6rem 0;
			}

			.main-2 {
				align-items:start;
				column-gap:var(--g);
				display: grid;
				grid-template-columns: 1fr 21rem;
			}
			
		}

		@include bp(xl) {
			--g:7.7rem;
		}

	}

	a.cookies {
		align-items: center;
		display: inline-flex;
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-decoration: none;
		span {
			margin-right: 8px;
		}
		svg path {
			transition:all var(--transition);
		}
		&:hover,&:focus {
			svg path {
				fill:var(--bleu-tres-fonce);
			}
		}
	}

	.bouton.pro {
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin-top: 2.4rem;
		width:100%;

		@include bp(lg) {
			margin-top: 0;
		}
	}

}