.site-footer {
/*--------------------------------------------------------------
*	Avantages
--------------------------------------------------------------*/
	.avantages {
		column-gap:1.2rem;
		display:grid;
		justify-content: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		padding:var(--padding-y-2) var(--padding-x);
		row-gap:4rem;

		li {
			align-items: center;
			display: flex;
			flex-direction: column;
			font-size: 1.2rem;
			line-height:1.6rem;
			text-align: center;
		}

		img {
			height:8rem;
			margin-bottom: 1.2rem;
			object-fit: contain;
			width:8rem;
		}

		@include bp(sm) {
			grid-template-columns: repeat(2, 21rem);

		}

		@include bp(lg) {
			column-gap: 3rem;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr;
		}
	}

/*--------------------------------------------------------------
*	Social / Suivez-nous
--------------------------------------------------------------*/
	.social {
		background-color: var(--beige-clair);
		padding:var(--padding-y-2) var(--padding-x);
		text-align: center;
		.titre {
			@include font-headline-s;
			margin-bottom: 8px;
			text-transform: uppercase;
		}
		.sous-titre {
			margin-bottom: 1.6rem;
		}
		
	}

/*--------------------------------------------------------------
*	Main footer
--------------------------------------------------------------*/
	.main-footer {
		background-color: var(--beige);
		padding:2rem var(--padding-x);

		& > div {
			padding:4rem 0;
			&:nth-of-type(2) {
				border-top:solid 1px var(--gris-500);
			}
		}

		--g:3rem;
		@include bp(lg) {
			padding:0 var(--padding-x);
			& > div {
				padding:6rem 0;
			}

			.main-2 {
				align-items:start;
				column-gap:var(--g);
				display: grid;
				grid-template-columns: 1fr 21rem;
			}
			
		}

		@include bp(xl) {
			--g:7.7rem;
		}

	}

	a.cookies {
		align-items: center;
		display: inline-flex;
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-decoration: none;
		span {
			margin-right: 8px;
		}
		svg path {
			transition:all var(--transition);
		}
		&:hover,&:focus {
			svg path {
				fill:var(--bleu-tres-fonce);
			}
		}
	}

	.bouton.pro {
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin-top: 2.4rem;
		width:100%;

		@include bp(lg) {
			margin-top: 0;
		}
	}
	
/*--------------------------------------------------------------
*	Sitemap (dans main footer)
--------------------------------------------------------------*/

	.sitemap {
		.titre-col {
			display: none;
		}
		.col {
			border-bottom:solid 1px var(--gris-500);
			display: flex;
			flex-direction: column;
			margin-bottom: 1.6rem;

			&:last-of-type {
				border-bottom: none;
			}

			a {
				font-weight: 400;
				margin-bottom: 1.6rem;
				text-decoration: none;
				&:hover, &:focus {
					color:var(--texte);
					text-decoration: underline;
				}
			}
			
		}
		.toggle-col {
			align-items: center;
			border:none;
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.6rem;
			padding:0;
			width:100%;

			svg {
				transition:all var(--transition);
			}


			&:hover,&:focus {
				background-color:transparent;
				color:var(--bleu-tres-fonce);
				svg path {
					fill:var(--bleu-tres-fonce);
				}
			}
			
			&[aria-expanded="true"] svg {
				transform:rotateZ(180deg);
			}
		}

		@include bp(lg) {
			.titre-col {
				@include font-body-l;
				display: block;
				margin-bottom: 1.6rem;
				text-transform: uppercase;
			}
		}
	}
}

