/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {

	.avantages {
		column-gap:1.2rem;
		display:grid;
		justify-content: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		padding:var(--padding-y-2) var(--padding-x);
		row-gap:4rem;

		li {
			align-items: center;
			display: flex;
			flex-direction: column;
			font-size: 1.2rem;
			line-height:1.6rem;
			text-align: center;
		}

		img {
			height:8rem;
			margin-bottom: 1.2rem;
			object-fit: contain;
			width:8rem;
		}

		@include bp(sm) {
			grid-template-columns: repeat(2, 21rem);

		}

		@include bp(lg) {
			column-gap: 3rem;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr;
		}
	}

	.social {
		background-color: var(--beige-clair);
		padding:var(--padding-y-2) var(--padding-x);
		text-align: center;
		.titre {
			@include font-headline-s;
			margin-bottom: 8px;
			text-transform: uppercase;
		}
		.sous-titre {
			margin-bottom: 1.6rem;
		}
		
	}

}