.site-header {
	background-color: var(--blanc);
	border-bottom:solid 1px var(--gris-300);
	z-index:10;
}

/*--------------------------------------------------------------
## Bandeau header
--------------------------------------------------------------*/
.bandeau-header {
	background-color: var(--beige);
	height:46px; //valeur par défaut au chargement de la page, corrigée en JS
	overflow: hidden;
	padding: 0px;
	position: relative;

	@include bp(md) {
		height:26px; //valeur par défaut au chargement de la page, corrigée en JS
	}

	li {
		align-items: center;
		background-color: var(--beige);
		color:var(--noir);
		display: flex;
		justify-content: center;
		margin-bottom: 0px;
		opacity: 0; //ne pas voir les messages non actifs au chargement de la page
		padding: 3px var(--padding-x);
		position: absolute;
		text-align: center;
		top: 100%;
		transition: top 0.5s linear;
		width: 100%;
		z-index: 0;
		&.active {
			opacity: 1;
			position: relative;
			top: 0;
			z-index: 2;
		}
		&.last-active {
			position: absolute;
			top: -100%;
			z-index: 1;
		}

		p {
			margin-bottom: 0;
		}
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}

/*--------------------------------------------------------------
## Main header
--------------------------------------------------------------*/
.main-header {
	--taille-logo:12.6rem;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr var(--taille-logo) 1fr;
	padding:0 2.3rem;
	position: relative;
}
.logo {
	max-width:var(--taille-logo);
}
form.search-form.search-header, .pictos-header .magasin {
	display: none;
}

.pictos-header {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	a {
		@include font-body-m;
		align-items: center;
		display: flex;
		margin-right:1.4rem;
		position: relative;
		text-decoration: none;

		&::after {
			background-color: var(--gris-300);
			content:' ';
			display: inline-block;
			height:2.4rem;
			margin-left: 1.4rem;
			width:1px;
		}
		&:last-of-type {
			margin-right: 0;
			&::after {
				display: none;
			}
		}
	}
	.label-compte {
		display: none;
	}
}



@include bp(lg) {
	.main-header {
		--taille-logo:21.3rem;
		grid-template-columns: var(--taille-logo) 1fr 43rem;
		grid-template-rows:auto auto;
		padding:0;
	}

	form.search-form.search-header {
		display: flex;
	}

	.nav-main {
		grid-column: 1 / span 3;
		grid-row:2;
	}

	.pictos-header {
		padding-right: 4.4rem;
		
		.magasin {
			display: flex;
		}
		.label-compte {
			display: inline-block;
		}
		span {
			margin-left: 8px;
		}
		svg {
			position: relative;
			top:-1px;
		}
	}

	
}



/*--------------------------------------------------------------
## Header sticky au scroll vers le haut
--------------------------------------------------------------*/

//Magic numbers
body {
	--hauteur-header:129px;
	@include bp(lg) {
	}
	@include bp(xl) {
	}
}

.js-sticky-header .site-header {
	//TODO animer ?
	position:fixed;
	left: 0;
	top: 0;
	width:100%;

	@include bp(xxl) {
		left:calc((100vw - var(--largeur-max))/2);
		width:var(--largeur-max);
	}
}

#wpadminbar {
	position: fixed;
}
.admin-bar.js-sticky-header .site-header {
	top:46px;
	@include bp(md) {
		top:32px;
	}
}	





/*--------------------------------------------------------------
## Ancre pour backtotop
--------------------------------------------------------------*/
#main-content {
	position: relative;
}
#haut-page {
	position: relative;
	top:-200px;
}
/*--------------------------------------------------------------
## Entry-header
--------------------------------------------------------------*/
.page-banniere {	
	height:var(--hauteur-banniere);
	overflow: hidden;
	margin: 0 auto;
	position: relative;	
	max-width:var(--largeur-max);
	width:100%;
	img {
		height:100%;
		left:0;
		position: absolute;
		top:0;
		width:100%;
	}
}

.entry-title {
	margin-top: 5.2rem;
	@include bp(lg) {
		margin-top: 7.2rem;
	}
}

