.loop {
	list-style:none;
	padding:3.2rem 2rem 0;

	.vignette {
		margin-bottom: 2rem;
	}
	@include bp(md) {
		column-gap:2rem;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		padding:3.5rem var(--padding-x) 0;

		.vignette {
			max-width:unset;
			width:100%;
		}
	}
	@include bp(lg) {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		padding: 4rem var(--padding-x-lg) 0;
		.vignette {
			margin-bottom: 4rem;
		}
	}

	
}