form.search-form {
	align-items:center;
	display: flex;
	height: 4rem;
	label {
		flex-grow:1;
	}
	input.search-field {
		padding:0 10px;
		width:100%;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	input.search-submit {
		margin-bottom: 0;
		min-width: unset;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	&.search-header {
		border:solid 1px var(--gris-300);
		border-radius: 8px;
		margin:0 2rem;
		input.search-field {
			border:none;
			color:var(--texte);
			font-size: 1.4rem;
			line-height: 2rem;
			padding:0;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color:var(--gris-600);
			opacity:1
			}
			&::-moz-placeholder { /* Firefox 19+ */
			color:var(--gris-600);
			opacity:1
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color:var(--gris-600);

			opacity:1
			}
			&:-moz-placeholder { /* Firefox 18- */
				color:var(--gris-600);

			opacity:1
			}
			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}
		}

		input.search-submit {
			background-color: transparent;
			background-image: url('icons/loupe.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			border:none;
			border-radius:0;
			color:transparent;
			height:2.4rem;
			margin-left: 1.5rem;
			margin-right: 1.1rem;
			overflow: hidden;
			padding:0;
			width:2.4rem;
		}

		@include bp(lg) {
			input.search-field {
				height:21px;
				padding:0 4px;
			}
			input.search-submit {
				height:21px;
				padding:0 4px;
				width:17px;
			}
		}
	}
}

.search-results {
	.vignette {
		margin-bottom: 2rem;
	}
}

section.no-results{
	min-height:50vh;
	padding-top: 1px;
	.entry-title {
		padding-top:var(--margin-y-1);	
	}
}