
.single-title {
	color:var(--blanc);
	&::after {
		display: none;
	}
}

.single-post {
	--height-encart:26rem;

	div.entry-content {
		padding-top: calc(2.4rem + var(--height-encart)/2);
		padding-bottom: 6.4rem;
	}

	.entry-content {
		background-color: var(--beige-clair);
	}


	.single-metas {
		border-bottom: solid 1px var(--gris-400);
		margin-bottom: 4rem;
		padding-bottom: 2rem;
	}

	p.temps {
		@include font-body-s;
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		margin-top: 1.8rem;
		.picto {
			margin-right: 6px;
			width:2rem;
		}
		strong {
			margin-right: 0.5ch;
		}
	}

	.intro {
		@include font-headline-xxs;
		margin-bottom: 4rem;
	}

	.titre-partage {
		@include font-body-l;
		border-top:solid 1px var(--gris-400);
		margin-top: 4rem;
		margin-bottom: 2rem;
		padding-top: 2rem;
		text-align: center;
	}

	@include bp(md) {
		
	}

	@include bp(lg) {
		--height-encart:27.8rem;
		div.entry-content {
			padding-bottom: 8rem;
		}
		.single-metas {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-bottom: 8rem;
		}

		.intro,.sommaire {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 8rem;
			max-width:60rem;
		}

		.intro {
			@include font-headline-s;
			line-height: 2.8rem;
		}

		.titre-partage {
			margin:8rem auto 2rem;
			max-width:7.2rem;
		}
	}
}