
.single-title {
	color:var(--blanc);
	&::after {
		display: none;
	}
}

.single-post {
	--height-encart:26rem;

	div.entry-content {
		padding-top: calc(2.4rem + var(--height-encart)/2);
		padding-bottom: 6.4rem;
	}

	.entry-content {
		background-color: var(--beige-clair);
	}


	.single-metas {
		border-bottom: solid 1px var(--gris-400);
		margin-bottom: 4rem;
		padding-bottom: 2rem;
	}

	p.temps {
		@include font-body-s;
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		margin-top: 1.8rem;
		.picto {
			margin-right: 6px;
			width:2rem;
		}
		strong {
			margin-right: 0.5ch;
		}
	}

	.sommaire {
		background-color:var(--blanc);
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		bottom:0;
		box-shadow: 0px -2px 6px 0px rgba(37, 36, 39, 0.25);
		left:0;
		padding:0.4rem;
		position:fixed;
		width:100%;
		z-index:20;

		.toggle {
			align-items: center;
			background-color: transparent;
			border:none;
			border-radius: 0;
			color:var(--bleu-tres-fonce);
			display: flex;
			padding: 1rem;
			text-transform: unset;
			width:100%;
			.menu {
				margin-right: 1rem;
				path {
					fill:var(--bleu-tres-fonce);
				}
			}
			.chevron {
				margin-left: auto;
				transition:all var(--transition);
			}
			&[aria-expanded="true"] .chevron {
				transform:rotateZ(180deg);
			}
		}

		.liens {
			li {
				border-top:solid 1px var(--gris-300);
				padding:0.8rem 1.2rem 1.2rem;
				a {
					@include font-body-l;
					align-items: flex-start;
					display: flex;
					font-weight: 700;
					text-decoration:none;

					.num {
						display: inline-block;
						margin-right: 1rem;
						text-align: center;
						width:2.4rem;
					}
					.nom {
						display: inline-block;
						text-decoration: underline;
					}
					
				}
				
			}
		}
	}

	.intro {
		@include font-headline-xxs;
		margin-bottom: 4rem;
	}

	.titre-partage {
		@include font-body-l;
		border-top:solid 1px var(--gris-400);
		margin-top: 4rem;
		margin-bottom: 2rem;
		padding-top: 2rem;
		text-align: center;
	}

	@include bp(md) {
		
	}

	@include bp(lg) {
		--height-encart:27.8rem;
		div.entry-content {
			padding-bottom: 8rem;
		}
		.single-metas {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-bottom: 8rem;
			margin-left: auto;
			margin-right: auto;
			max-width: 93rem;
		}

		.intro,.sommaire {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 8rem;
			max-width:60rem;
		}

		.sommaire {
			background-color: unset;
			border-radius: 0;
			border:solid 1px var(--gris-300);
			border-left:0;
			border-right:0;
			box-shadow: none;
			left:unset;
			padding:0;
			position: relative;
			top:unset;
		}

		.intro {
			@include font-headline-s;
			line-height: 2.8rem;
		}

		.titre-partage {
			margin:8rem auto 2rem;
			max-width:72rem;
		}
	}
}