
.single-title {
	color:var(--blanc);
	&::after {
		display: none;
	}
}

.single-post {
	--height-encart:26rem;

	div.entry-content {
		padding-bottom: var(--margin-y);
		padding-top: calc(2.4rem + var(--height-encart)/2);

	}

	.entry-content {
		background-color: var(--beige-clair);
	}

	.intro {
		@include font-headline-xxs;
		margin-bottom: 4rem;
	}

	.single-metas {
		border-bottom: solid 1px var(--gris-400);
		margin-bottom: 4rem;
		padding-bottom: 2rem;
	}

	p.temps {
		@include font-body-s;
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		margin-top: 1.8rem;
		.picto {
			margin-right: 6px;
			width:2rem;
		}
		strong {
			margin-right: 0.5ch;
		}
	}

	

	@include bp(md) {
		
	}

	@include bp(lg) {
		
	}
}